<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <app-listas [terminada]="false" ></app-listas>

   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="agergarLista()">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-sliding>
    
  </ion-item-sliding>

</ion-content>
